/* Selector universal: Cambia el estilo de todos los elementos que se encuentran en el documento html (No recomendado)
* {
	color:red;
}
*/

/*Selector de elemento: Toma la referencia de un elemento para cambiar su estilo*/
h1 {
	font-family: Arial, Helvetica, Sans-serif;
	color: maroon;
}

/*Selector de Clase: Toma en cuenta */
.article-header {
	font-family: Arial, Helvetica, Sans-serif;
	color: green;
}

.background-pink{
	background-color: pink;
}

li[data-RobotOwner="Koji Kabuto"]{
	background-color: pink;
}

input:focus{
	background-color: red;
}

.toogle:checked ~ .checked {	/*Concepto de Sibling (hijos): Selecciona a los hermanos de la clase toogle y lo aplica a la clase .checked Nota: probar cambiar ~ por + y ver el resultado*/
	background-color: olive;	/*Se selecciona los siblings de clase "checked" y se le aplica el estilo según las reglas del atributo de la clase checked del input*/
}

.checked {
	width: 100px;
	height: 100px;
	background-color: peru;
}